body {
   background-color: #008080;
 }

.FormBack {
   width: 80em;
   max-width: 80%;
   min-height: 65%;
   max-height: 90%;
   margin-inline: auto;
   margin-top: 5vh;
 }

#Hide {
   --n: 67px;
   --h: 5.5em;
   --p: 100%;

   height: 50em;
   min-height: 75%;
   max-height: 90%;
 }

.FormBack img {
    width: 100%;
    height: 30em;
    object-fit: cover;
 }