body {
   background-image: url("../Image/Mont-vaporwave.jpg");
 }

.FormBack {
   width: fit-content;
   max-width: 80%;
   min-height: 65%;
   max-height: 90%;
   margin-inline: auto;
   margin-top: 5vh;
 }

 p {
      font-size: x-small;
      margin-bottom: 1em;
 }

#Hide {
   --n: 67px;
   --h: 5.5em;
   --p: 100%;

   height: 50em;
   min-height: 75%;
   max-height: 90%;
 }

 /* article */ 

 article {
    margin: 1em;
    display: inherit;
 }
 
 article img {
   width: 12em;
   height: 12em;
   border-radius: 54em;
   object-fit: cover;
}

#Placeur{
   display: inline-flex;
}

.Colom {
   width: min-content;
   text-align: center;
}