/* Body */

body {
    background-image: url("../Image/Sun.jpg");
 }


 /*fenetre window 98 pour le Formulaire*/

.FormBack {
    background: linear-gradient(180deg, rgba(2, 217, 250, 0) 0%, #02D9FA 328.56%);
    width: 80em;
    max-width: 80%;
    min-height: 65%;
    max-height: 90%;
    margin-inline: auto;
    margin-top: 5vh;
 }

#Hide {
    --n: 55px;
    --h: 5.5em;
    --p: 100%;

    height: 72em;
 }


 /* formulaire  */

.rowow {
     display: flex;
 }

form {
    margin: 2em;
 }

fieldset {
    display: block;
    width: max-content;
    margin-inline: 2px;
    padding-block-start: 1.75em;
    padding-block-end: 0.75em;
    padding-inline: 0.75em;
    border-width: 3px;
    border-style: groove;
 }

legend {
    width: max-content;
    float: none;
    display: block;
    padding-inline: 5px;
    font-family: dogica;
    font-size: 2em;
    font-weight: bold;
    color: #131313;
 }

label {
    display: flex;
    font-family: Pixel Operator HB;
    font-size: 2em;
 }

textarea {
    resize: none;
    overflow-y: scroll;
    width: -webkit-fill-available;
    max-width: 50em;
    min-width: 50rem;
    font-family: Pixel Operator;
    font-size: 1.5em;
    line-height: normal;
    caret-color: #F367BD;
 }

input, select {
    background: #FFFFFF;
    box-shadow: inset 2px 2px 0px #000000, 
                inset -2px -2px 0px #EEEEEE, 
                inset 4px 4px 0px rgba(0, 0, 0, 0.5), 
                inset -4px -4px 0px rgba(215, 215, 215, 0.31), 
                inset 6px 6px 0px rgba(0, 0, 0, 0.25), 
                inset -6px -6px 0px rgba(238, 238, 238, 0.25);
    border: none;
    width: -webkit-fill-available;
    height: 3em;
    min-height: 2rem;
    max-height: 5em;
    min-width: 50rem;
    max-width: 50em;
    caret-color: #F367BD;
 }

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
 }

#none {
    border: none;
    display: grid;
    row-gap: 5.5em;
    margin: auto;
 }

button {
    background: rgba(255, 255, 255, 0.01);
    box-shadow: inset -2px -2px 0px #000000, 
                inset 2px 2px 0px rgba(255, 255, 255, 0.5), 
                inset -4px -4px 0px rgba(0, 0, 0, 0.5), 
                inset 4px 4px 0px rgba(255, 255, 255, 0.25), 
                inset -6px -6px 0px rgba(0, 0, 0, 0.25), 
                inset 6px 6px 0px rgba(255, 255, 255, 0.25);
    padding-block: 0.75rem;
    padding-inline: 3em;
    font-family: Pixel Operator HB;
    font-size: 2em;
 }
 
button:active{
    background-color: #FFFFFF;
    box-shadow: inset 2px 2px 0px #000000, 
                inset -2px -2px 0px #EEEEEE, 
                inset 4px 4px 0px rgba(0, 0, 0, 0.5), 
                inset -4px -4px 0px rgba(215, 215, 215, 0.31), 
                inset 6px 6px 0px rgba(0, 0, 0, 0.25), 
                inset -6px -6px 0px rgba(238, 238, 238, 0.25);
}

#Captchat {
    width: 52em;
    height: 27em;
 }

#Equation {
    float: left;
    padding: 0 5em 1em 0;
 }

 /* Effect :over :focus :active */

button:over, button:focus, button:active {
    outline: none;
 }

input:focus, textarea:focus, select:focus {
    background-color: #A8E5FF;
    outline: none;
    box-shadow: inset 2px 2px 0px #000000, 
                inset -2px -2px 0px #F7F5FE, 
                inset 4px 4px 0px rgba(0, 0, 0, 0.5), 
                inset -4px -4px 0px rgba(247, 245, 254, 0.47), 
                inset 6px 6px 0px rgba(0, 0, 0, 0.25), 
                inset -6px -6px 0px rgba(247, 245, 254, 0.26);
 }
 @media only screen and (max-width: 1920px) {
   
    /*fenetre window 98 pour le Formulaire*/

    .FormBack {
        width: 80em;
        max-width: 80%;
        min-height: 65%;
        max-height: 90%;
        margin-inline: auto;
        margin-top: 5vh;
    }


    /* formulaire  */

    form {
        margin: 2em;
    }

    fieldset {
        width: max-content;
        padding-block-start: 1.75em;
        padding-block-end: 0.75em;
        padding-inline: 0.75em;
    }

    legend {
        width: max-content;
        font-size: 2em;
    }

    label {
        font-size: 1.5em;
        max-width: 20em;
    }

    textarea {
        min-width: 31rem;
        font-size: 1rem;
    }

    input, select {
        width: -webkit-fill-available;
        min-width: 31rem;
        height:2.5rem;
        max-width: 39em;
    }

    option {
        min-height: 1.2em;
    }

    #none {
        row-gap: 3em;
        padding: 1em;
        margin: auto;
    }

    button {
        padding-block: 0.75rem;
        padding-inline: 2em;
    }

    #Captchat {
        width: 52em;
        height: 15em;
        max-width: 41rem;
    }

    #Equation {
        padding: 1em 0 0.1em 13em;
    }

    /* Effect :over :focus :active */
 }