/* Family-font */

@font-face {
    font-family: 'Dogica';
    src: url('../Font/dogica/OTF/dogica.otf') format('opentype'),
         url('../Font/dogica/TIF/dogica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'Dogica-Bold';
    src: url('../Font/dogica/OTF/dogicabold.otf') format('opentype'),
         url('../Font/dogica/TIF/dogicabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'DogicaPixel';
    src: url('../Font/dogica/OTF/dogicapixelbold.otf') format('opentype'),
         url('../Font/dogica/TIF/dogicapixelbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'VCR OSD';
    src: url('../Font/vcr_osd_mono/VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'Pixel Operator';
    src: url('../Font/pixel_operator/PixelOperator.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }
 
@font-face {
    font-family: 'Pixel Operator HB';
    src: url('../Font/pixel_operator/PixelOperatorHB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
 }


/* -- Nav & links Proprietes -- */

nav {
    overflow: hidden;
    background-color: #BBBBBB;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.4375em;
    z-index: 500;
 }

nav a {
    float: left;
    display: block;
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
 }

nav > a {
    box-shadow: inset -2px -2px 0px #000000, 
                inset 2px 2px 0px rgba(255, 255, 255, 0.5), 
                inset -4px -4px 0px rgba(0, 0, 0, 0.5), 
                inset 4px 4px 0px rgba(255, 255, 255, 0.25), 
                inset -6px -6px 0px rgba(0, 0, 0, 0.25), 
                inset 6px 6px 0px rgba(255, 255, 255, 0.25);
 }

nav a:hover {
    background-color:#02D9FA;
    color: white;
    transition: color 1s, background 1s linear;
 }
 
nav > a:active {
    color: black;
    background-color: #A8E5FF;
    box-shadow: inset 2px 2px 0px #000000, 
                inset -2px -2px 0px #F7F5FE, 
                inset 4px 4px 0px rgba(0, 0, 0, 0.5), 
                inset -4px -4px 0px rgba(247, 245, 254, 0.47), 
                inset 6px 6px 0px rgba(0, 0, 0, 0.25), 
                inset -6px -6px 0px rgba(247, 245, 254, 0.26);
    transition: color 1s, background 1s linear;
 }

a#Selected:link, a#Selected:active {
    background-color: #A8E5FF;  
    box-shadow: inset 2px 2px 0px #000000, 
                inset -2px -2px 0px #F7F5FE, 
                inset 4px 4px 0px rgba(0, 0, 0, 0.5), 
                inset -4px -4px 0px rgba(247, 245, 254, 0.47), 
                inset 6px 6px 0px rgba(0, 0, 0, 0.25), 
                inset -6px -6px 0px rgba(247, 245, 254, 0.26);
 }

.MediaSec a {
    padding-inline: 5px;
    padding-block: 6px;
 }

.MediaSec a:active {
    background-color: #A8E5FF;
 }

nav .Division {
    float: left;
    display: block;
    color: black;
    text-align: center;
    width: 5px;
    height: 40px;
    text-decoration: none;
    background-color: #F0EFEF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 
                inset 0px 0px 0px 1px rgba(0, 0, 0, 0.21), 
                inset 0px 0px 0px 2px rgba(219, 219, 219, 0.51);
    margin: 5px 7px;
 }

nav .ItemIcon {
    width: 19em;
    margin-right: 6px;
    padding-block: 5px;
    padding-inline: 6px 0px;
    transition: color 1s, background 1s linear;
 }

 /* -- SVG pic -- */

nav img {
    height: 2.18em;
    transition: all 1s linear;
 }

a:hover img {  
    filter: invert(1);
    transition: all 1s linear;
 }

a:active img {
    filter: invert(0);
 }

 /* -- Typography -- */

nav a {
    font-family: 'Dogica-Bold';
    font-size: 1.29em;
    font-weight: bold;
 }


 /* Style en commun dans les pages */
  
  /* Body */

body, html {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

main {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
 }

h1 {
    font-family: Pixel Operator HB;
    font-size: 5em;
    line-height: 0.99em;
 }
h2 {
    font-family:DogicaPixel ;
    font-size: 2em;
    line-height: 0.99em;
    margin-bottom: 1em;
    color: #131313;
}

p {
    font-size: 1.25em;
    font-family: Dogica;
    margin-bottom: 10em;
 }

 /* Window style */

.FormBack {
    background-color:#C0C0C0;
    box-shadow: inset -2px -2px 0px #000000, 
                inset 2px 2px 0px rgba(255, 255, 255, 0.5), 
                inset -4px -4px 0px rgba(0, 0, 0, 0.5), 
                inset 4px 4px 0px rgba(255, 255, 255, 0.25), 
                inset -6px -6px 0px rgba(0, 0, 0, 0.25), 
                inset 6px 6px 0px rgba(255, 255, 255, 0.25);
    height: fit-content;
    padding: 0.5em;
    inline-size: max-content;
    padding-bottom: 62px;
    min-width: 50%;
}

.divheader {
    cursor: move;
    background-color: #020179 ;
    color: white;
    width: 100%;
    height: 5em;
 }
#Hide {
    visibility: hidden;
    top: calc(var(--p) - var(--h) - var(--n));
    position: absolute;
    width: 5%;
    
}

 /* Bouton style */

 .Bouton {
    background: #ffffff03;
    box-shadow: inset -2px -2px 0px #000000, 
                inset 2px 2px 0px rgb(255 255 255 / 50%), 
                inset -4px -4px 0px rgb(0 0 0 / 50%), 
                inset 4px 4px 0px rgb(255 255 255 / 25%), 
                inset -6px -6px 0px rgb(0 0 0 / 25%), 
                inset 6px 6px 0px rgb(255 255 255 / 25%);
    padding-block: 0.75rem;
    padding-inline: 3em;
    font-family: Pixel Operator HB;
    font-size: 2em;
  }
       
 a.Bouton:hover, a.Bouton:focus, a.Bouton:active, a.Bouton {
    text-decoration: none;
  }
  a.Bouton:active{
    box-shadow: inset 2px 2px 0px #000000, 
    inset -2px -2px 0px #EEEEEE, 
    inset 4px 4px 0px rgba(0, 0, 0, 0.5), 
    inset -4px -4px 0px rgba(215, 215, 215, 0.31), 
    inset 6px 6px 0px rgba(0, 0, 0, 0.25), 
    inset -6px -6px 0px rgba(238, 238, 238, 0.25);
  }
 
 

  @media only screen and (max-width: 1920px) {

    /* -- Nav & links Proprietes -- */
    
    nav {
        height: 3em;
     }
    
    nav a {
        font-size: 90%;
     }
    nav .Division {
        width: 5px;
        height: 40px;
     }
    
    nav .ItemIcon {
        width: 16em;
        height: 3rem;
        padding-block: 7px;
        padding-inline: 5px 0px;
     }
    
     /* -- SVG pic -- */
    
    nav img {
        height: 2.3em;
     }
    
    a:hover img {  
        filter: invert(1);
     }
    
    a:active img {
        filter: invert(0);
     }
    
    
     /* Style en commun dans les pages */
      
      /* Body */
    
    h1 {
        font-size: 5em;
        line-height: 0.99em;
     }
    h2 {
        font-size: 2em;
        line-height: 0.99em;
        margin-bottom: 1em;
    }
    
    p {
        font-size: 1.25em;
        margin-bottom: 10em;
     }
    
     /* Window style */
    
    .FormBack {
        height: fit-content;
        padding: 0.5em;
        inline-size: max-content;
        padding-bottom: 62px;
        min-width: 50%;
    }
    
    .divheader {
        cursor: move;
        width: 100%;
        height: 5em;
     }

    #Hide {
        display:none;  
    }
    
     /* Bouton style */
    
     .Bouton {
        padding-block: 0.75rem;
        padding-inline: 2em;
        font-size: 2em;
      }
    
      
}