body {
   background-image: url("../Image/Windows_98_wallpaper.jpg");
 }


/* Windows */

#Hide {
   --n: 67px;
   --h: 5.5em;  
   --p: 100%;

   height:  78.375em;
   min-height: 60%;
   max-height: 90%;
 }

.FormBack {
   background: linear-gradient(180deg, #C0C0C0, #F367BD 141.56%);
   width: 65em;
   max-width: 80%;
   min-height: 65%;
   max-height: 90%;
   margin-inline: auto;
   margin-top: 3vh;
 }


 /* Liste */

ol {
   padding: 1em 4.5em 0 4.5em;
   list-style-type: none;
 }

li {
   font-size: 2.5em;
   font-family: Pixel Operator;
   font-weight: bold;
   padding-block: 0.5rem;
   line-height: 1.5em;
   max-width: fit-content;
 }

li em {
   font-family: Dogica;
   font-style: normal;
   font-size: 1.25rem;
   font-weight: normal;
 }


 /* Forme photo */

image {
   mix-blend-mode: lighten;
 }

#ME {
   width: 17em;
   height: 17em;
   position: absolute;
   right: 6em;
   top: 8.5em;
   fill: none;
 }

#triangle {
   --t: 0.5em;  
   --c: #02D9FA; 

   width: 22em;
   height: 19em;
   display: inline-block;
   border: var(--t) solid transparent;
   border-bottom-color: var(--c);
   background:
   linear-gradient(to bottom left,
      transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
      transparent calc(50% + var(--t) + 1px)) right,
   linear-gradient(to bottom right,
      transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
      transparent calc(50% + var(--t) + 1px)) left;
   background-size: 50% 100%;
   background-origin: border-box;
   background-repeat: no-repeat;       
   transform: rotate(-180deg);
   position: absolute;
   right: 3.5em;
   top: 10em;
 }

#CV {
   font-size: 3rem;
   margin-left: 34%;
 }


 /* Decoration */

#triangle1 {
   --t: 0.5em;  
   --c: #02D9FA; 
   --tc: linear-gradient(180deg, #F367BD 0%, #CFA4DD 48.77%, rgba(207, 164, 221, 0) 48.78%, rgba(206, 166, 222, 0) 49.72%, #CEA6DE 49.73%, #CCA8DF 51.62%, rgba(204, 168, 223, 0) 51.64%, rgba(203, 170, 224, 0) 52.98%, #CBAAE0 52.99%, #C9ADE2 55.44%, rgba(201, 173, 226, 0) 55.45%, rgba(200, 175, 227, 0) 57.32%, #C8AFE3 57.34%, #C6B3E5 60.19%, rgba(198, 179, 229, 0) 60.2%, rgba(196, 182, 230, 0) 62.76%, #C4B6E6 62.77%, #C1BAE9 66.03%, rgba(193, 186, 233, 0) 66.04%, rgba(191, 190, 235, 0) 69.14%, #BFBEEB 69.15%, #BCC3ED 72.96%, rgba(188, 195, 237, 0) 72.97%, rgba(186, 199, 239, 0) 76.48%, #BAC7EF 76.49%, #B6CDF2 80.84%, rgba(182, 205, 242, 0) 80.85%, rgba(179, 210, 245, 0) 84.91%, #B3D2F5 84.92%, #B0D8F8 89.78%, rgba(176, 216, 248, 0) 89.79%, rgba(172, 222, 251, 0) 94.37%, #ACDEFB 94.38%, #A8E5FF 100%);;
   
   width: 46em;
   height: 39.84em;
   display: inline-block;
   border: var(--t) solid transparent;
   border-bottom-color: var(--c);
   background:
   linear-gradient(to bottom left,
      transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
      transparent calc(50% + var(--t) + 1px)) right,
   linear-gradient(to bottom right,
      transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
      transparent calc(50% + var(--t) + 1px)) left;
   background-size: 50% 100%;
   background-origin: border-box;
   background-repeat: no-repeat;       
   transform: rotate(-180deg);
   position: absolute;
   left: 40%;
   top: 30%;
   z-index: -2;
 }

#triangle2 {
   position: absolute;
   left: 44%;
   top: 32%;
   z-index: -1;
}


@media only screen and (max-width: 1920px) {

   li {
      font-size: 1.75rem;
      padding-block: 0.1rem;
      line-height: 1.5em;
    }
   
   li em {
      font-size: 1rem;
    }

   #ME {
      width: 16em;
      height: 13em;
      position: absolute;
      right: 6em;
      top: 8.5em;
      fill: none;
    }

   #triangle {
      --t: 0.5em;  
      --c: #02D9FA; 
   
      width: 19em;
      height: 14em;
      display: inline-block;
      border: var(--t) solid transparent;
      border-bottom-color: var(--c);
      background:
      linear-gradient(to bottom left,
         transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
         transparent calc(50% + var(--t) + 1px)) right,
      linear-gradient(to bottom right,
         transparent 49.5%,var(--c) 50% calc(50% + var(--t)),
         transparent calc(50% + var(--t) + 1px)) left;
      background-size: 50% 100%;
      background-origin: border-box;
      background-repeat: no-repeat;       
      transform: rotate(-180deg);
      position: absolute;
      right: 5em;
      top: 9em;
    }
}
