body {
  background-image: url("../Image/mother-board.jpg");
 }


 /* Windows style */

#Grouper {
   display: inline-flex;
   width: 100%;
   height: 100%;
 }

.FormBack {
   --n: 67px;
   --h: 5em;  
   --p: 100%;
  
   width: 65em;
   max-width: 75%;
   min-height: 60%;
   max-height: 80%;
   position: relative;
   top: calc(var(--p) - var(--h) - var(--n));
 }

.Design {
   margin-inline-start: -70em;
 }

#Hide {
   --n: 67px;
   --h: 5.5em;  
   --p: 100%;
  
   height: 54.6em;
 }
   
 
 /* Top header div */

.DesignHeader {
   background: linear-gradient(90deg, #FB66E9 -0.08%, #A8E5FF 99.92%);
 }

.RealHeader {
   background: linear-gradient(90deg, #010479 -0.08%, #A8E5FF 99.92%);
 }



 /* conteneur et Img style */

.contenant {
   text-align: -webkit-center;
   text-align: center;
   padding-top: 1em;
 }

.Centre {
   object-position: center;
   background-color: white;
 }

.Bas {
   object-position: bottom;
 }

.contenant img {
   width: 90%;
   height: 25em;
   object-fit: cover;
   margin-bottom: 1em;
 }


@media only screen and (max-width: 1920px) {

.Design {
 margin-inline-start: -38em;}
 }
 